# 临时文件
test.*
test_*
temp.*
temp_*

*.exe
*.ll
*.cay
*.eol

!/examples/
!/test_docs/
!/lib/
!/mingw-minimal/
!/llvm-minimal/


!/llvm-minimal/bin/*.exe
!/examples/*.eol
!/examples/errors/*.eol
!/examples/*.cay
!/examples/errors/*.cay
!/caylibs/*.cay
!/test_docs/*.cay

.trae/
/*.cpp
*.obj

*.o

!/lib/mingw64/lib/gcc/x86_64-w64-mingw32/15.2.0/*.o
!/mingw-minimal/bin/*.exe
!/lib/mingw64/x86_64-w64-mingw32/lib/*.o

target/

#太大了
llvm-minimal/bin-linux/*

dist/
analyze_all_code_blocks.py
analyze_complete_programs.py
analyze_doc_code.py
fix_all_integer_checks.py
fix_binary_rs.py
generate_doc_tests.py
missing_tests_detailed.txt
missing_tests.txt
sync_docs.py
